.home {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

  
    video {
      position: absolute;
      height:80vh;
      width:stretch;
      top: 0;
      bottom:0;
      object-fit:fill;
    }
  
    .homeContent {
      width: 100%;
      height: max-content;
      padding: 8rem 1.5rem 3rem;
      display: flex;
      row-gap: 3rem;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      margin: auto;
      color: white;
      z-index: 100;
    }
  
      .smallText {
        font-size: 3.5rem;
        text-transform: uppercase;
      }
  
      .homeTitle {
        position: relative;
        font-size: 3.5rem;
      }
    }
  
    .images
    {
      -webkit-column-count:3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-width:33%;
      -moz-column-width:33%;
      column-width:33%;
      padding:0 12px;
      margin-top: 20px;
    }
    .images .pics
    {
      -webkit-transition:all 350 ms ease;
      transition:all 350 ms ease;
      cursor:pointer;
      margin-bottom:12px;
    }
    .images .pics:hover
    {
      filter:opacity(0.9);
      transition-duration: 0.2s;
      cursor: pointer;
    }
   .imgs{
    margin-top:27%;
   }
   @media (max-width:991px){
    .images
    {
      -webkit-column-count:2;
      -moz-column-count: 2;
      column-count: 2;
    }
    
   }
   @media (max-width:375px){
    .images
    {
      -webkit-column-count:1;
      -moz-column-count: 1;
      column-count: 1;
    }
    .imgs{
      margin-top:62%;
     }
   }
 
